upstream shot_servers {
    server 127.0.0.1:3007;
}

# env: dev
server {
    listen       80;
    server_name  shot.huanleguang.cn;

    # Proxy to server
    location / {
        proxy_set_header    Host $host;
        proxy_set_header    X-Real-IP  $remote_addr;
        proxy_set_header    X-Forwarded-For $remote_addr;
        proxy_pass          http://shot_servers;
    }
}
